@import "tailwindcss";
@plugin "tailwindcss-animate";
@import "uploadthing/tw/v4";
@source "../../node_modules/@uploadthing/react/dist";

@theme {
  --breakpoint-xs: 480px;

  --container-container: 80rem;

  --color-tangelo-50: #fce3d4;
  --color-tangelo-100: #f9c7a9;
  --color-tangelo-200: #f8b994;
  --color-tangelo-300: #f7aa7e;
  --color-tangelo-400: #f48e53;
  --color-tangelo-500: #f2803e;
  --color-tangelo-600: #f17228;
  --color-tangelo-700: #d96724;
  --color-tangelo-800: #c15b20;
  --color-tangelo-900: #914418;
}
